body{
    background-image: url("/images/background4.png");
    height: 500px;
    
        /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

* {
    color: white;
}

.feedback-messages {
    background-color: rgba(14, 13, 13, 0.808);
    padding: 20px;
    border-radius: 10px;
}