<!--  -->

<div class="row bg-dark m-0 fixed-bottom">
    <div class="col align-items-center">
      <div class="d-flex justify-content-center text-white"><i class="fa fa-copyright mr-2 mt-1" aria-hidden="true"></i>
         2020</div>
    </div>
  </div>
</div>